In [1]:
#1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#2
a=[2,5,345,345]
sum=0
for i in a:
    sum+=i
print(sum)

697

In [4]:
#3
a="vaibhav"
for i in reversed(a):
    print(i)

v
a
h
b
i
a
v

In [8]:
#4
b=int(input("enter a number:"))
sum=1
for i in range(1,b+1):
    sum*=i
print(sum)

enter a number: 0

1

In [9]:
#5
b=int(input("enter a number:"))

for i in range(1,11):
    print(b,"*",i,"=",b*i)

enter a number: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
#6
a=[3,456,7,346378,3462,645633,63345637]
counte=counto=0
for i in a:
    if i % 2 == 0:
        counte+=1
    else:
        counto+=1
print("even =",counte)
print("even =",counto)

even = 3
even = 4

In [12]:
#7
for i in range(1,6):
    print("square of ",i,"is",i**2)

square of  1 is 1
square of  2 is 4
square of  3 is 9
square of  4 is 16
square of  5 is 25

In [13]:
#8
a="vaibhav"
count=0
for i in a:
    count+=1
print(count)

7

In [14]:
#9
a=[2,5,345,345]
sum=0
for i in a:
    sum+=i
print(sum/len(a))

174.25

In [27]:
#10
b=int(input("enter a number:"))
print(0)
print(1)

f=0
s=1
for i in range(0,b-2):
    print(f+s)
    f,s=s,f+s

enter a number: 10

0
1
1
2
3
5
8
13
21
34

In [36]:
#11
a=[2342,56346,425,124,2,3,35,3,2234,45]
for i in range (len(a)):
    for j in range (i+1,len(a)):
        if a[i]==a[j]:
            print("yes ",a[i])
        else:
            pass

yes  3

In [20]:
#12
import math
b=int(input("enter a number:"))
for i in range(b):
    c=True
    if i<2:
        continue
    else:        
        for j in range(2, int(math.sqrt(i)) + 1):
            if i%j==0:
                c=False
                break
                    
        if c==True:
            print("number is prime:",i)

enter a number: 100

number is prime: 2
number is prime: 3
number is prime: 5
number is prime: 7
number is prime: 11
number is prime: 13
number is prime: 17
number is prime: 19
number is prime: 23
number is prime: 29
number is prime: 31
number is prime: 37
number is prime: 41
number is prime: 43
number is prime: 47
number is prime: 53
number is prime: 59
number is prime: 61
number is prime: 67
number is prime: 71
number is prime: 73
number is prime: 79
number is prime: 83
number is prime: 89
number is prime: 97

In [23]:
#13
s="hftyyfiy"
count=0
for i in s:
    if i in ['a','i','o','u','y']:
        count+=1
print(count)

4

In [26]:
#14
l=[[2,5,345,3345],[235,56,345,3,2,4],[23,545,345,33]]
max=0
for row in l:
    for elements in row:
        if elements>max:
            max=elements
print(max)

3345

In [28]:
#15
a=[2342,56346,425,124,2,3,35,3,2234,45]
c=3
b=[i for i in a if i != c]
print(b)

[2342, 56346, 425, 124, 2, 35, 2234, 45]

In [29]:
#16
for b in range(1,6):
    for i in range(1,11):
        print(b,"*",i,"=",b*i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
#17
fahrenheit_temperatures = [32, 68, 86, 104, 212]
celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)

print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 86, 104, 212]
Celsius Temperatures: [0.0, 20.0, 30.0, 40.0, 100.0]

In [31]:
#18
a=[2342,56346,425,124,2,3,35,3,2234,45]
b=[234,5636,425,12,26,36,5,36,224,465]
c=[x for x in a if x in b]
print(c)

[425]

In [1]:
#19
for j in range(1,6):
        print("*"*j)

*
**
***
****
*****

In [ ]:
#20
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

gcd = 1

for i in range(1, min(num1, num2) + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i

print("The Greatest Common Divisor (GCD) of", num1, "and", num2, "is", gcd)

In [4]:
#21
numbers = [123, 45, 678, 9]
sumno = [sum(int(n) for n in str(n1)) for n1 in numbers]
print(sumno)

[6, 9, 21, 9]

In [ ]:
#22
num = int(input("Enter a number to find its prime factors: "))
f=[i for i in range(2,int(num**0.5)+1) if num % 2 ==0 ]
print(f)

In [33]:
#23
l=[1,2,2,3,4,3,4,3,4,5,4,3,4]
u=[i for i in l if l.count(i) == 1 ]
print(u)

[1, 5]

In [2]:
#24
l= int(input("enter a limit"))
p=[n for n in range(l+1) if str(n) == str(n)[::-1] ]
print(p)

enter a limit 100

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [3]:
#25
l=[[2,5,345,3345],[235,56,345,3,2,4],[23,545,345,33]]
r=[i for s in l for i in s]
print(r)

[2, 5, 345, 3345, 235, 56, 345, 3, 2, 4, 23, 545, 345, 33]

In [4]:
#26
numbers = [123, 45, 678, 9]
e=[i for i in numbers if i%2==0]
o=[i for i in numbers if i%2!=0]
print("even number:",e)
print("odd number:",o)

even number: [678]
odd number: [123, 45, 9]

In [5]:
#27
s=[i**2 for i in range(1,11) if i%2!=0]
print(s)

[1, 9, 25, 49, 81]

In [8]:
#28
keys = ["name", "age", "city"]
values = ["Alice", 3,40, "New York",40]


combined_dict = {keys[i]: values[i] for i in range(len(keys))}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 3, 'city': 40}

In [10]:
#29
s="vaibhav"
l=[i for i in s if i in "iaeou"]
print(l)

['a', 'i', 'a']

In [13]:
#30
t = ["abc123", "def456", "ghi789", "jkl0mno"]
s=[''.join([char for char in i if char.isnumeric()]) for i in t]
print(s)

['123', '456', '789', '0']

In [14]:
#31
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False

    for current_num in range(2, int(limit**0.5) + 1):
        if sieve[current_num]:
            for multiple in range(current_num**2, limit + 1, current_num):
                sieve[multiple] = False

    primes = [num for num, is_prime in enumerate(sieve) if is_prime]
    return primes

# Specify the limit for prime number generation
limit = int(input("Enter a limit for prime numbers: "))

# Generate and print the list of prime numbers
prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Enter a limit for prime numbers:  5

Prime numbers up to 5 are: [2, 3, 5]

In [27]:
#32
def is_pythagorean_triplet(a, b, c):
    return a**2 + b**2 == c**2

def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1)
                          for b in range(a, limit + 1)
                          for c in range(b, limit + 1)
                          if is_pythagorean_triplet(a, b, c)]
    return triplets

# Specify the limit for generating Pythagorean triplets
limit = int(input("Enter the limit: "))

# Generate and print Pythagorean triplets up to the specified limit
pythagorean_triplets = generate_pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, "are:")
for triplet in pythagorean_triplets:
    print(triplet)

Enter the limit:  15

Pythagorean triplets up to 15 are:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(9, 12, 15)

In [1]:
#33
l=[1,2,3,4,5]
s=["list","string","tuple","dictionary","set"]
print([(x,y) for x in l for y in s])

[(1, 'list'), (1, 'string'), (1, 'tuple'), (1, 'dictionary'), (1, 'set'), (2, 'list'), (2, 'string'), (2, 'tuple'), (2, 'dictionary'), (2, 'set'), (3, 'list'), (3, 'string'), (3, 'tuple'), (3, 'dictionary'), (3, 'set'), (4, 'list'), (4, 'string'), (4, 'tuple'), (4, 'dictionary'), (4, 'set'), (5, 'list'), (5, 'string'), (5, 'tuple'), (5, 'dictionary'), (5, 'set')]

In [5]:
#34
# Sample list of numbers
numbers = [1, 2, 2, 3, 4, 4, 4, 5]

# Calculate mean using list comprehension
mean_result = sum(numbers) / len(numbers)

# Calculate median without using statistics module
sorted_numbers = sorted(numbers)
n = len(numbers)
if n % 2 == 1:
    median_result = sorted_numbers[n // 2]
else:
    median_result = (sorted_numbers[(n - 1) // 2] + sorted_numbers[n // 2]) / 2

# Calculate mode without using statistics module
num_counts = {}
for num in numbers:
    num_counts[num] = num_counts.get(num, 0) + 1

max_count = max(num_counts.values())
mode_result = [num for num, count in num_counts.items() if count == max_count]

print(f"Mean: {mean_result}")
print(f"Median: {median_result}")
print(f"Mode: {', '.join(map(str, mode_result))}")

Mean: 3.125
Median: 3.5
Mode: 4

In [5]:
#35
def generate_pascals_triangle(num_rows):
    if num_rows <= 0:
        return []

    triangle = [[1]]
    
    for i in range(1, num_rows):
        # Calculate the next row using the previous row
        previous_row = triangle[-1]
        next_row = [1] + [previous_row[j] + previous_row[j+1] for j in range(len(previous_row)-1)] + [1]
        triangle.append(next_row)

    return triangle

def display_pascals_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)).center(len(triangle[-1]) * 3))

# Specify the number of rows for Pascal's triangle
num_rows = 5

# Generate Pascal's triangle
pascals_triangle = generate_pascals_triangle(num_rows)

# Display Pascal's triangle
display_pascals_triangle(pascals_triangle)

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1

In [2]:
#36
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
factorial_list = [factorial(i) for i in range(1, 6)]
s=[sum(int(g) for g in str(j)) for j in factorial_list]
print(s)

[1, 2, 6, 6, 3]

In [19]:
#37
s="Hello everyone my name is vaibhav gupta. I am from indore ,M.P"
f=s.split()
a=max(f,key=lambda w: len(w))
print(a)

vaibhavvvvv

In [22]:
#38
s=["list","string","tuple","dictionary","set","eeeeee"]
d=['a','i','u','o','e']
f=[i for i in s if sum(i.count(char) for char in d) > 3]
print(f)

['dictionary', 'eeeeee']

In [25]:
#39
s=[sum(int(g) for g in str(j)) for j in range(1,1001)]
print(sum(s))

13501

In [27]:
#40
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True
s=[i for i in range(1,1001) if str(i) == str(i)[::-1] and is_prime(i) ]
print(s)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]